* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    width: 800px;
    height: 80vh;
    display: grid;
    grid-template-rows: 500px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "link-side content-side"
        "link-side submit-card";
}

.link-side {
    grid-area: link-side;
    border-right: solid black 1px;
    /* width: 20%; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 5px;
}
.link-side a {
    padding: 5px;
    background-color: rgb(0, 46, 0);
    color: white;
    border: rgb(0, 0, 0) solid 1px;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: end;
    gap: 4px;
}
.link-side a:hover {
    transform: scale(1.01);
    transition: 250ms;
    background-color: #fff;
    color: rgb(0, 46, 0);
    cursor: pointer;
    border: rgb(0, 46, 0) solid 1px;
}
.home-link {
}
.next-page-link {
}

.content-side {
    grid-area: content-side;
    /* width: 75%; */
}

.home {
    background-color: lightblue;
    padding: 0 10px;
}
.home-content {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
}
.card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    border: 1px solid black;
    width: 150px;
    /* height: 100px; */
}
.card button {
    /* display: block; */
}
.next-page {
    background-color: lightgray;
}
.next-page-content {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
}
.submit-card {
    grid-area: submit-card;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.submit-card div {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 10px;
    align-items: center;
    border: solid 1px black;
    width: 50%;
    height: 100px;
    padding: 5px;
}
.submit-card div button {
    padding: 5px;
    border: solid 1px black;
    background-color: #fff;
    color: black;
    cursor: pointer;
}
.submit-card div button:hover {
    transform: scale(1.02);
    transition: 250ms;
    background-color: black;
    color: #fff;
}
.submit-card div input:focus {
    outline: none;
}
.hidden {
    /* visibility: hidden; */
    display: none;
}
